* {
  box-sizing: border-box;
}

html {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  background-color: rgb(54, 54, 54);
}

body {
  max-width: 1200px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
}

.container {
  box-shadow: 0px 5px 15px white;
  width: 1000px;
  background-color: #4B90B9;
}

h1, h2, h3 {
  text-align: center;
}

p {
  color: white;
}

nav {
  font-family: 'Wire One', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

/* IMAGES */

img#baddog {
  position: relative;
  left: 130px;
  top: 0px;
  /* width: 40%; */
  height: 350px;
}

img#btg {
  position: relative;
  left: 150px;
  top: 0px;
  /* width: 40%; */
  height: 350px;
}

img#mtb {
  position: relative;
  left: 130px;
  top: 0px;
  width: 466px;
  padding-top: 20px;
  /* height: 350px; */
}

img#js-ex {
  position: relative;
  left: 180px;
  top: -100px;
  width: 40%;
}

img#drink-on {
  position: relative;
  left: 260px;
  top: -10px;
  width: 25%;
}

#section4 img {
  position: absolute;
  width: 60px;
  height: auto;
  left: 175px;
}

.grid-container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 50px;
  grid-template-rows: 70px 70px 70px 70px 70px 70px 70px;
  /* align-items: center; */
}

.grid-item {
  text-align: center;
}

/* HERO */

.hero {
  height: 619px;
  background-image: url('../img/hero-image.png');
  background-repeat: no-repeat;
  background-size: 1110px;
}

/* SECTIONS */

section {
  position: relative;
  left: -120px;
  margin-top: 10px;
  margin-bottom: 100px;
  padding: 55px;
  min-height: 600px;
  width: 1200px;
  background-color: #F2F6FF;
}

.vert {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  color: #0b6887;
  font-family: 'Wire One', sans-serif;
  font-size: 10rem;
}

#section1 .vert {
  left: -40px;
  top: 420px;
}

#section2 .vert {
  left: -50px;
  top: 330px;
}

#section3 .vert {
  left: -50px;
  top: 320px;
}

#section4 .vert {
  left: -40px;
  top: 540px;
}

/* NAVBAR */

nav {
  background-color: white;
}

.pinned {
  background-color: rgba(0, 0, 0, 0.75);
}

a.photoshop:hover {
  font-weight: 500;
}

a.illustrator:hover {
  font-weight: 500;
}

a.javascript:hover {
  font-weight: 500;
}

a.contactme:hover {
  font-weight: 500;
}

/* GALLERY (not used right now)*/

.close {
  background: none;
  color: black;
  border: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  background-color: transparent;
}

.item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.item img {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__overlay {
  background: rgba(255, 255, 255, 0.5);
  grid-column: 1/-1;
  grid-row: 1/-1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: .3s;
  transform: translateY(100%);
}

.item__overlay button {
  background: none;
  /* border 2px solid white; */
  color: white;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
}

.item:hover .item__overlay {
  transform: translateY(0);
}

.item.v2 {
  grid-row: span 2;
}

.item.v3 {
  grid-row: span 3;
}

.item.v4 {
  grid-row: span 4;
}

.item.h2 {
  grid-column: span 2;
}

.item.h3 {
  grid-column: span 3;
}

.item.h4 {
  grid-column: span 4;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay-inner {
  background: white;
  padding: 20px;
}

.overlay img {
  width: 100%;
}