* {
  box-sizing: border-box;
}

html {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  /* background-color: rgb(54, 54, 54); */
}

body {
  max-width: 1200px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 200px;
}

.container {
  box-shadow: 0px 5px 15px white;
  width: 1000px;
  background-color: #4B90B9;
}

h1, h2, h3 {
  text-align: center;
}

p {
  color: white;
}

nav {
  font-family: 'Wire One', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

/* PARALLAX */

.parallax1 {
  background-image: url("../img/label/web-app.png");
  /* Set a specific height */
  height: 145px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 125px;
  background-repeat: no-repeat;
}

.parallax2 {
  background-image: url("../img/label/graphic.png");
  /* Set a specific height */
  height: 145px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 125px;
  background-repeat: no-repeat;
}

.parallax3 {
  background-image: url("../img/label/resume.png");
  /* Set a specific height */
  height: 145px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 150px;
  background-repeat: no-repeat;
}

.parallax4 {
  background-image: url("../img/label/communicate.png");
  /* Set a specific height */
  height: 145px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: 125px;
  background-repeat: no-repeat;
}

/* IMAGES */

img#baddog {
  position: relative;
  left: 130px;
  top: 0px;
  height: 350px;
  left: 50%;
  transform: translateX(-110%);
}

img#btg {
  position: relative;
  left: 150px;
  top: 0px;
  height: 350px;
  left: 50%;
  transform: translateX(-90%);
}

img#mtb {
  position: relative;
  left: 130px;
  top: 25px;
  width: 466px;
  padding-top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

img#js-ex {
  position: relative;
  left: 180px;
  top: -100px;
  width: 40%;
}

img#drink-on {
  position: relative;
  left: 260px;
  top: -10px;
  width: 25%;
}

#section3 img {
  position: relative;
  /* display: block; */
  margin-right: auto;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}

/* RESUME */

.overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 50%;
  height: 0;
  transition: .5s ease;
}

#section3:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* SOCIAL ICONS */

.grid-container {
  display: grid;
  grid-gap: 50px 50px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-around;
  padding-top: 250px;
}

/* HERO */

.hero {
  height: 250px;
  /* background-image: url('../img/hero-image.png'); */
  background-repeat: no-repeat;
  background-size: 1110px;
}

/* SECTIONS */

section {
  position: relative;
  left: -120px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 55px;
  min-height: 600px;
  width: 1200px;
  background-color: #F2F6FF;
}

#section0 {
  background-color: rgba(0, 0, 0, 0);
  height: 125px;
}

/*
.vert {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  color: #0b6887;
  font-family: 'Wire One', sans-serif;
  font-size: 10rem;
} */

/* #section1 .vert {
  left: -40px;
  top: 420px;
}

#section2 .vert {
  left: -50px;
  top: 330px;
}

#section3 .vert {
  left: -50px;
  top: 320px;
}

#section4 .vert {
  left: -40px;
  top: 540px;
} */

/* NAVBAR */

nav {
  background-color: white;
}

.pinned {
  background-color: rgba(0, 0, 0, 0.75);
}

a.photoshop:hover {
  font-weight: 500;
}

a.illustrator:hover {
  font-weight: 500;
}

a.javascript:hover {
  font-weight: 500;
}

a.communicate:hover {
  font-weight: 500;
}