section {
  min-height: 200px;
  padding: 25px;
  // margin-bottom: 10px;

  div {
    width: 20%;
    margin: auto;
    padding: 25px;
  }
}

#sect1 {
  background-color: $off-white;
}

#sect2 {
	background-color: $darkblue;
}

#sect3 {
	background-color: $charcoal;
}
#sect4 {
  background-color: $off-white;
}

#sect5 {
	background-color: $red;
}

#sect6 {
	background-color: $charcoal;
}
